.cont-img {
    height: calc(100vh - 60px);
    background-image: url(/Trabajo-practico-integrador/img/fondologin3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  
  .contenedor {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .contenedor-interno {
    margin-bottom: 20px;
  }
  
  .contenedor-interno label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  #usuario, #contrasena, #nombre, #apellido, #telefono, #direccion {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .botones-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #007bff;
    color: white;
  }