body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece que el cuerpo de la página ocupe al menos el 100% de la altura de la ventana del navegador */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
  }
  * {
    font-family: "Montserrat", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo img {
    width: 50%;
    margin-left: 20px;
    
  }
  .menu ul {
    list-style: none;
    margin: 0;
  }
  
  .menu ul li {
    display: inline-block;
   padding: 10px 5px;
  }
  
  .menu ul li:last-child {
    margin-right: 0;
  }
  
  .menu ul li a {
    /* vertical, horizontal, difuminacion, color   */
  text-shadow: 1px 1px 25px greenyellow;
    color: rgba(255, 255, 255, 0.751);
    text-decoration: none;
  }
  .menu ul li a:hover{
    color:  #ffcc00;
  }
  .login {
    background-color: #ff9900;
    color: #333;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
  }
  
  .login:hover {
    background-color: #ffcc00;
  }
  
header, footer {
    background-color: transparent;
    position: fixed;
    width: 100%;  
    flex-shrink: 0; /* Evita que el header y el footer se reduzcan para ajustarse a su contenido */
  }
  .activo{
    background-color: gray

  }
  footer {
    position: relative;
   display: flex;
   justify-content: space-between;
    bottom: 0;
    margin-top: auto;
  }
  .parrafo{
    position: relative;
    top: 20%;
    margin-right: 30px;
  }
  