body {
  background-color: #dcdedf;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 60px;

}

.subtitulo {
  font-size: 30px;
  margin-left: 20vh;
  margin-right: 20vh;
  padding: 5vh;
}

header {
  background-color: #242323;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
}

.icono {
  position: relative;
  float: left;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  background-image: url('img/fondologin3.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}

.mid1{
  height: 55vh;
}

.mid2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to right, rgb(123, 5, 128), rgb(17, 3, 16));
  color: #fff;
  height: 55vh;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.c2,
.c3 {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.c4,
.c5 {
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.contenido {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #242323;
  color: #fff;
  border-radius: 5px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: rgb(181, 45, 45);
  text-decoration: none;
}

.login {
  background-color: #ff9900;
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  background-color: #ffcc00;
}