*{
    font-family: "Montserrat", sans-serif; 
}
body{
    height: 215vh;
}
.contenedor{
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    height: 200vh;
    padding: 10px;
}
/* SECCION IA*/
.seccionIA{   /* ocupa las dos*/
    height: 100vh;
    background-color: whitesmoke;
    padding: 10px;
}
.seccionIA1{
    height: 50vh;
    background-color: whitesmoke;
}
.seccionIA1-Interno{
  height: 40vh;
}
.seccionIA1-Texto{
    width: 50%;
    float: left;
    font-size: 20px;
    text-align: right;
    padding-top: 30px;  
}
.seccionIA1-Img{
    width: 50%;
 
    float: right;
}
.seccionIA h1{
    font-weight: bold;
    font-size: 40px;    
}
.seccionIA2{   /**/
    height: 50vh;
    width: 150vh;
    background-color: white;
    border-radius: 15px; 
}
.seccionIA2-Interno{
    height: 40vh;
    padding: 50px;
   
}
.seccionIA2-Texto{
    width: 60%;
    float: right;
    text-align: left;
    font-size: 25px;
}
.seccionIA2-Img{
    width: 40%;
    float: left;   
}
.cienciaDatos{ /* CIENCIA DE DATOS*/
    height: 85vh;
    background-color: rgb(144, 204, 238);
    padding: 10px;
    h3{
        padding: 10px;
    }
}
.cienciaDatos1-Interno{
    height: 60vh; 
}
.cienciaDatos1-Texto{
    width: 50%;
    float: right;
    text-align: left;
    font-size: 25px;
}
.cienciaDatos1-Img{
    width: 50%;
    float: right;   
}