
.contenedor{
    width: 250px;
    height: 400px;
    background-color: cadetblue;
    border-radius: 1px;
    padding: 5px;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%)  
}
.interno{
    width: 250px;
    height: 100px;
}
img{
    float:right
}
input{
    float: left;
}
body{
    background-color:crimson;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}