body{
    display: flex;
    justify-content: center;
    background-color: azure;
    height: 100vh;
    align-items: center;
    
    
}
.contenedor {
    background: transparent;
    border: 2px solid gainsboro;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    border: 2px solid rgb(175, 118, 118);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.1);
    backdrop-filter: blur(8px);
    flex-wrap: wrap;
}
#interno{
    margin: 20px;
}
input{
    float: right;
    margin-left: 10px;
}
#con2{
    display: none;
    align-content: space-around;
}
#contenedorCanciones{
    flex-wrap: wrap;
   
}
p{
    border: 5px solid gainsboro;
}