#Contenedor-form{
    
    display: flex;
    border: 2px solid green;
    height: 200px;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    }
body{
    display: flex;
    justify-content: center;
    margin: 50%;
} 
.interno{
    padding: 15px;
    margin: 20px;
    background-color: aquamarine;
}