*{
    padding: 10px;
    font-style: oblique;
}

div{
    margin-top: 10px;
background-color: aquamarine;
width: 250px ;
height: 800px;
border: 1px solid;

}

.interno{
    width: 200px;
    height: 100px;
    background-color: coral;
}