body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6b7c4b;
    flex-direction: column; 
}
.container{
    border: 5px solid #ccc;
    border-radius: 8px;
    background-color: #aaa2a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
input{
    WIDTH: 205px; 
    HEIGHT: 18px
}